@model List<DersDurumModel>
@{
    ViewData["Title"] = "OgrenciMufredat";
    Layout = "~/Areas/Admin/Views/AdminLayout.cshtml";
}

<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Mufredat</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#">Mufredat</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Mufredat Bilgisi</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt--6">


    <div class="card">
        <div class="card-header">
            <div class="row align-items-center">
                <div class="col-12">
                    <h3 class="mb-0">@ViewBag.Mufredat </h3>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                        <tr>
                            <th width="0%" scope="col" class="sort" data-sort="budget">#</th>
                            <th width="40%" scope="col" class="sort" data-sort="budget">Ders Kodu</th>
                            <th width="40%" scope="col" class="sort" data-sort="budget">Ders</th>
                            <th width="0%" scope="col" class="sort" data-sort="status">Durum</th>

                            <th width="0%" scope="col"></th>
                        </tr>
                    </thead>
                    <tbody class="list">
                        @{
                            int count = 0;
                        }
                        @foreach (var x in Model)
                        {
                            count++;

                            <tr>

                                <td class="budget">
                                    @count
                                </td>
                                <td class="budget">
                                    @x.Kodu
                                </td>
                                <td class="budget">
                                    @x.Adi
                                </td>
                                @if (x.Durum)
                                {
                                    <td class="budget text-success">
                                        Alındı
                                    </td>
                                }else
                                {
                                    <td class="budget text-danger">
                                        Alınmadı
                                    </td>
                                }
                                

                               
                                <td class="text-right">
                                    <div class="dropdown">
                                        <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

