@model OBSEntityLayer.NewConcrete.Dersler
@{
    ViewData["Title"] = "AddDersler";
    Layout = "~/Areas/Admin/Views/AdminLayout.cshtml";
}

<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Dersler</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#">Dersler</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Ders Ekle</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">


    <div class="card">
        <div class="card-header">
            <div class="row align-items-center">
                <div class="col-12">
                    <h3 class="mb-0">Ders Ekle </h3>
                </div>
            </div>
        </div>
        <div class="card-body">
            <form method="post">
                <div class="form-group">
                    <label>Ders Kodu</label>
                    @Html.TextBoxFor(x => x.Kodu, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Ders Adı</label>
                    @Html.TextBoxFor(x => x.Adi, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Durum</label>
                    @Html.TextBoxFor(x => x.Durum, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Kredi </label>
                    @Html.TextBoxFor(x => x.Kredi, new { @class = "form-control" })
                </div>


                <button type="submit" class="btn btn-primary mr-2">Kaydet</button>
                <button class="btn btn-dark">İptal</button>

                <!-- Address -->

            </form>

        </div>
    </div>
</div>
<!-- Footer -->
